In [1]:
import numpy as np

In [2]:
import pandas as pd

# Boolean Comparisons

In [3]:
df = pd.DataFrame({
    'one': pd.Series(np.random.randn(3), index =['a', 'b', 'c']),
    'two': pd.Series(np.random.randn(4), index=['a', 'b', 'c', 'd']),
    'three': pd.Series(np.random.randn(3), index=['b', 'c', 'd'])})

In [4]:
#Make copy of dataframe
df2 = df.copy()

In [5]:
# Check if df > df2
df.gt(df2)

     one    two  three
a  False  False  False
b  False  False  False
c  False  False  False
d  False  False  False

In [6]:
# Check df2 != df
df2.ne(df)

     one    two  three
a  False  False   True
b  False  False  False
c  False  False  False
d   True  False  False

In [7]:
(df > 0).all()

one      False
two      False
three    False
dtype: bool

In [8]:
(df > 0).any()

one      True
two      True
three    True
dtype: bool

In [9]:
(df > 0).any().any()

True

In [12]:
pd.Series([True]).item()

True

In [13]:
pd.Series([False]).item()

False

In [16]:
pd.DataFrame([[True]]).items()