In [1]:
import numpy as np
import pandas as pd

In [3]:
dft = pd.DataFrame({'A': np.random.rand(3),
                    'B': 1,
                    'C': 'foo',
                    'D': pd.Timestamp('20010102'),
                    'E': pd.Series([1.0] * 3).astype('float32'),
                    'F': False,
                    'G': pd.Series([1] * 3, dtype = 'int8')})

In [4]:
dft

          A  B    C          D    E      F  G
0  0.549856  1  foo 2001-01-02  1.0  False  1
1  0.847260  1  foo 2001-01-02  1.0  False  1
2  0.539140  1  foo 2001-01-02  1.0  False  1

In [5]:
dft.dtypes

A          float64
B            int64
C           object
D    datetime64[s]
E          float32
F             bool
G             int8
dtype: object

In [6]:
# Series has he same attribute as well:
dft['A'].dtype

dtype('float64')

In [7]:
# storing strings
# string data forces an ``object`` dtype
pd.Series([1,2,3,6., 'foo'])

0      1
1      2
2      3
3    6.0
4    foo
dtype: object

## Converting

In [8]:
df1 = pd.DataFrame(np.random.randn(8,1), columns=['A'], dtype='float32')

In [9]:
df1.dtypes

A    float32
dtype: object

In [10]:
# conversion of dtypes
df1 = df1.astype('float64')

In [11]:
df1.dtypes

A    float64
dtype: object

In [12]:
# .astype() can also be used on a subset of columns or single column series
dft1 = pd.DataFrame({'a': [1,0,1], 'b': [4,5,6], 'c': [7,8,9]})

In [14]:
dft1 = dft1.astype({'a':bool, 'c':np.float64})

In [15]:
dft1.dtypes

a       bool
b      int64
c    float64
dtype: object