In [1]:
# import necessary modules
import numpy as np
import pandas as pd

## Stack

In [9]:
'''
The stack() function compresses the columns into the index.
'''

'\nThe stack() function compresses the columns into the index.\n'

In [2]:
tuples = list(zip(*[['bar', 'bar', 'baz', 'baz',
                     'foo', 'foo', 'qux', 'qux'],
                    ['one', 'two', 'one', 'two',
                     'one', 'two', 'one', 'two']]))

In [3]:
index = pd.MultiIndex.from_tuples(tuples, names = ['first', 'second'])

In [4]:
df = pd.DataFrame(np.random.randn(8,2), index = index, columns = ['A','B'])

In [6]:
df2 = df[:4]

In [7]:
stacked = df2.stack()

In [8]:
stacked

first  second
bar    one     A    0.485200
               B    0.695791
       two     A    0.555896
               B    0.622969
baz    one     A   -0.109562
               B    0.827887
       two     A    2.119216
               B    1.213441
dtype: float64

In [10]:
# The reverse can be done as well
stacked.unstack()

                     A         B
first second
bar   one     0.485200  0.695791
      two     0.555896  0.622969
baz   one    -0.109562  0.827887
      two     2.119216  1.213441

In [11]:
stacked.unstack(1)

second        one       two
first
bar   A  0.485200  0.555896
      B  0.695791  0.622969
baz   A -0.109562  2.119216
      B  0.827887  1.213441

In [12]:
stacked.unstack(0)

first          bar       baz
second
one    A  0.485200 -0.109562
       B  0.695791  0.827887
two    A  0.555896  2.119216
       B  0.622969  1.213441

## Pivot Tables

In [14]:
# Create a new dataFrame
df = pd.DataFrame({'A':['one', 'two', 'three'] *3,
                   'B' : ['A', 'B', 'C'] * 4,
                   'C': ['foo', 'foo', 'foo', 'bar', 'bar', 'bar'] * 2,
                   'D': np.random.randn(12),
                   'E': np.random.randn(12)})

ValueError: All arrays must be of the same length