# Simple exercises for Basic Data Types in Python

## Numbers

#### 1. Assign any number of type integer to the variable "num_1"

In [1]:
num_1 = 5

#### 2. Assign any number of type float to the variable "num_2"

In [2]:
num_2 = 6.0

#### 3. Create the variable "total" as the sum of variables "num_1" and "num_2"

In [3]:
total = num_1 + num_2

#### 4. Check the type of the variable "total"

In [4]:
type(total)

float

#### 5. Assign your height to the variable "height"

In [9]:
height = 1.78

#### 6. Assign your weight to the variable "mass"

In [11]:
mass = 62

#### 7. Create the variable "bmi" :
hint: bmi = weight / (height*height)

In [12]:
bmi = mass / (height*height)

#### 8. Print the value of the "bmi" variable

In [13]:
print(bmi)

19.568236333796236

# String

#### 1. Create the variable "name" with your first name

In [16]:
name = 'franklin'

#### 2. Create the variable "surname" with your surname

In [17]:
surname = 'manuana'

#### 3. Create the variable "name_surname" from variables "name" and "surname" 
hint : use string with white space between variable "name" and "surname"

In [24]:
name_surname = name + " " + surname

#### 4. Print the variable "name_surname"

In [19]:
print(name_surname)

franklin manuana

#### 5. Print the first letter of the variable "name_surname"

In [20]:
print(name_surname[0])

f

#### 6. Print your name (without any enmpty space) from the variable "name_surname"

In [29]:
print(name_surname[0:8]+name_surname[9:])

franklinmanuana

#### 7. Print your surname 10x (use variable "surname")

In [30]:
print(surname*10)

manuanamanuanamanuanamanuanamanuanamanuanamanuanamanuanamanuanamanuana

#### 8. Create the variable "greeting" with the message "Hello my name is " + your name and surname (use "name_surname" variable)

In [33]:
greeting = "Hello my name is " + name_surname

#### 9. Print the "message" variable

In [34]:
print(greeting)

Hello my name is franklin manuana

## List

#### 1. Create an empty list named "empty_list"

In [35]:
empty_list = []

#### 2. Create a list called "heights" with five random values

In [40]:
heights = [1.43,1.89,1.58,1.63,1.77]

#### 3. Print "heights"

In [41]:
print(heights)

[1.43, 1.89, 1.58, 1.63, 1.77]

#### 4. Print the type of variable for "heights"

In [42]:
type(heights)

list

#### 5. Print the second value from "heights"

In [43]:
print(heights[1])

1.89

#### 6. Assign the last three values from "heights" to another list called "heights_2"

In [44]:
heights_2 = heights[2:]

#### 7. Print "heights_2"

In [45]:
print(heights_2)

[1.58, 1.63, 1.77]

#### 8. Create the variable "list_all" with values from lists "heights" and "heights_2"

In [46]:
list_all = heights + heights_2

#### 9. Print "list_all"

In [47]:
print(list_all)

[1.43, 1.89, 1.58, 1.63, 1.77, 1.58, 1.63, 1.77]

#### 10. Print the type of "list_all"

In [48]:
print(type(list_all))

<class 'list'>

## Tuple

#### 1. Create an empty tuple called "empty_tuple"

In [49]:
empty_tuple = ()

#### 2. Try to assign your name to the first position of "empty_tuple" and check the type of error that occurs

In [50]:
empty_tuple[0] = name

TypeError: 'tuple' object does not support item assignment

#### 3. Based on the error that occured in the above question, what is the main difference between a list and a tuple?

Lists are mutable whereas tuples aren't.

## Dictionary

#### 1. Create an empty dictionary named "empty_dict"

In [51]:
empty_dict = {}

#### 2. Create a dictionary called "heights_dict" with your name as a key and height as a value

In [52]:
heights_dict = {name:height}

#### 3. Assign another name and height to "heights_dict"

In [54]:
heights_dict['Jason'] = 1.80

#### 4. Print "heights_dict"

In [55]:
print(heights_dict)

{'franklin': 1.78, 'Jason': 1.8}

#### 5. Print your height from the "heights_dict" dictionary

In [56]:
print(heights_dict[name])

1.78

#### 6. Print all values from the "heights_dict" dictionary

In [57]:
print(heights_dict)

{'franklin': 1.78, 'Jason': 1.8}

In [59]:
print(heights_dict.values())

dict_values([1.78, 1.8])

#### 7. Print all keys from the "heights_dict" dictionary

In [60]:
print(heights_dict.keys())

dict_keys(['franklin', 'Jason'])